<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.css" type="text/css" rel="stylesheet"/>
</head>
<body class="bg-dark">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-1">
                <form action="/main" method="get">
                    <button class="btn btn-outline-success" type="submit" style="margin-top: 10em">Přihlásit přes Google</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>